.login-wrapper {
    font-family: cursive;
    
    min-height: 95vmin;
    height: 100%;
    background-color: #202e47;
}
.login-container {
    max-width: 390px;
    margin: 0 auto 0;
    padding: 10px;

}

#login-wrap {
    .login-margin {
        margin-left: 0;
    }

    .main-content {
        height: 100%;
        overflow: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media(max-width: 768px){
        .text-left-xs{
            text-align: left;
        }
    }

    label{
        font-weight: normal;
        color: white;
    }
    .btn-primary{
        font-family: cursive;
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;
      
        width: 100%;
        height: 50px;
        border-radius: 2px;
        background: #57b846;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        margin-right: inherit;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
      }
      
      .btn-primary:hover {
        background: #333333;
      }


    .panel-heading {
        padding: 0;
        background: 0;
        border: 0;
        text-align: center;
        margin-top: 30px;
        span {
            display: block;
            color: #FFF;
            line-height: 50px;
            font-size: 1em;
            font-weight: 700;
            margin-top: 10px;
            padding-bottom: 10px;
        }
    }
    .panel{
        background-color: transparent;
        border: 0;
    }
    .panel-body {
        padding:15px 10px;
    }

    .field.error {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;

        span {
            font-weight: 100;
            color: red;
            font-size: 1em;
        }
    }
    .alert.alert-warning.alert-dismissible {
        padding: 6px 0;
        margin-bottom: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: center;
    }
    .alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    .xs-mb-20 {
        margin-bottom: 20px !important;
    }

    .form-group {
        margin: 0;
        padding: 0;

        .login-submit {
            cursor: pointer;
            padding-top: 20px;
            padding-bottom: 5px;
        }

        div {

            padding: 0;
        }
    }

    .login-submit {
        padding-top: 20px;
        padding-bottom: 5px;
    }



    .form-control {
        font-family: cursive;
        width: 100%;
        box-shadow: none;
        background-color: #FFF;
        display: block;
        color: #3e4a5a;
        font-size: 1em;
        height: 50px;
        border: 1px solid #c9d1dc;
       // padding: 0 10px 0 50px;
        border-radius: 3px;
        line-height: 16px;
        margin: 0;
    }

   

    .form-wrap {

        position: relative;

    }


 
    .input-invisible {
        height: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
        border: 0;
        position: absolute;
    }

    .btn-secondary {
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        box-sizing: border-box;
        background: #01a0e2;
        color: #FFF;
        width: 100%;
        font-size: 1.125em;
    }


    @keyframes shake {
        10%,90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 80% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}

.userlistitem{
    font-family: cursive;
    tr{
        background-color:white;
        padding: 8px;
        border: 1px solid  #ddd;
    }
    td{
        padding: 8px;
        background-color:rgba(169, 161, 175, 0.04);
        height:40;
        border:1px solid #ddd;
    }
   }
   .userlist th{
    font-family: cursive;
   
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: center;
     background-color:#4ecdc4;
     color: white;
 }
