.login-container {
    max-width: 390px;
    height: auto;
    margin: 0 auto 0;
    padding: 10px;

}

.limiter {
    
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 90vh;
    display: flex;
    height: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #05b34bc2, #4158d0);
    background: -o-linear-gradient(-135deg, #05b34bc2, #4158d0);
    background: -moz-linear-gradient(-135deg, #05b34bc2, #4158d0);
    background: linear-gradient(-135deg, #05b34bc2, #4158d0);
  }

  .wrap-login100 {
    width: 60%;
    background: #fff;
    border-radius: 1%;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 177px 130px 33px 95px; */
    padding: 5% 3% 3% 5%
  }


.userlist{
    td{
            background-color:white;
            padding: 10px!important;
            font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
            border-collapse: collapse;
    }
 
    .amount{
        text-align: right
    }
}

.o-header {
    display: flex;
    background: #f1f1f1;
    border-bottom: 1px solid #c9d1dc;
    padding: 8px 0;
}
.panel-bottom{
    margin-top: 50px;
    font-size: 0.8125em;
    text-align: center;
    color: #FFF
}

#login-wrap {
    .login-margin {
        margin-left: 0;
    }

 
    @media(max-width: 768px){
        .text-left-xs{
            text-align: left;
        }
    }

    label{
        font-weight: normal;
        color: white;
    }
    .btn-primary{
        margin-left: 0;
        width: 100%;
    }

    .panel-heading {
        color: rgb(15, 15, 15);
        padding: 0;
        background: 0;
        border: 0;
        text-align: center;
        margin-top: 30px;
        span {
            display: block;
            color: rgb(15, 15, 15);
            line-height: 20px;
            font-size: 1em;
            font-weight: 700;
            margin-top: 10px;
            padding-bottom: 10px;
        }
    }
    .panel{
        background-color: transparent;
        border: 0;
    }
	.panel-body {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 10px;
     }

    .field.error {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;

        span {
            color: red;
            font-size: 0.6875em;
        }
    }

    .xs-mb-20 {
        margin-bottom: 20px !important;
    }

    .form-group {
        margin: 0;
        padding: 0;

        div {

            padding: 0;
        }
    }

    .login-submit {
        padding-top: 20px;
        padding-left: 15%;
        padding-bottom: 5px;
    }




    .form-control {
        font-family: 'Open Sans', Arial, sans-serif;
        width: 100%;
        box-shadow: none;
        background-color: #FFF;
        display: block;
        color: #3e4a5a;
        font-size: 1em;
        height: 50px;
        border: 1px solid #c9d1dc;
        padding: 0 10px 0 50px;
        border-radius: 3px;
        line-height: 16px;
        margin: 0;
    }

 

    .form-wrap {

        position: relative;


        img {
            position: absolute;
            padding: 10px;
            vertical-align: middle;
            border: 0;
        }
    }


    .input-invisible {
        height: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
        border: 0;
        position: absolute;
    }

    .btn-secondary {
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        box-sizing: border-box;
        background: #01a0e2;
        color: #FFF;
        width: 100%;
        font-size: 1.125em;
    }


    @keyframes shake {
        10%,90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 80% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}